@using LearningCenter.Models.ViewModels.Admin
@model IEnumerable<QuizListViewModel>
    
<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseName)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(model => item.Title)
            </td>
            <td>
                @Html.DisplayFor(model => item.CourseName)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditQuiz","Quizzes", new {area="Admin", id = item.Id }, new { @class = "btn btn-warning" })
                @Html.ActionLink("Preview", "PreviewQuiz", "Quizzes", new { area = "Admin", id = item.Id }, new { @class = "btn btn-default" })
            </td>
        </tr>
    }
    </thead>
</table>