@using LearningCenter.Models.ViewModels.Admin
@model List<UserListViewModel>

<table class="table table-striped table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Roles)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().EnrolledCourses)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        var indexOfAt = item.Email.IndexOf("@");
        var currentUsername = User.Identity.Name.Substring(0, indexOfAt);
        <tr>
            <td>
                @Html.ActionLink(item.Email, "ProfilePage", "Users", new {area="", username = currentUsername }, null)
            </td>
            <td>
                @Html.DisplayFor(model => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(model => item.LastName)
            </td>
            <td>
                @foreach (var role in item.Roles)
                {
                    @role <span> </span>
                }
            </td>
            <td>
                @Html.DisplayFor(model => item.EnrolledCourses)
            </td>
            <td>
                @if (Roles.IsUserInRole(item.Email, "Instructor"))
                {
                    @Html.ActionLink("Add Instructor role", "MakeInstructor", new {userId = item.Email}, new {@class= "btn btn-warning"})

                }
            </td>
        </tr>
    }
</table>