@using LearningCenter.Models.ViewModels.Admin
@model IEnumerable<CourseListViewModel>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Students)
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Title, "Detailed", "Courses", new {area = "Courses", id = item.Id}, null)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Students)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditCourse", "Courses", new {area="Courses", id= item.Id}, new {@class = "btn btn-warning"})
                </td>
            </tr>
        }
    </thead>
</table>