@using LearningCenter.Models.ViewModels.Admin
@model List<UnitListViewModel>
    
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().CourseName)
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Title, "UnitPreview","Units",  new { area = "Admin", id = item.Id }, null)
                </td>
                <td>
                    @Html.DisplayFor(model => item.CourseName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditUnit","Units", new {area="Admin", id = item.Id }, new { @class = "btn btn-warning" })
                    @Html.ActionLink("Preview", "UnitPreview", "Units", new { area = "Admin", id = item.Id }, new { @class = "btn btn-info" })
                </td>
            </tr>
        }
    </thead>
</table>