@using LearningCenter.Models.ViewModels.User
@model EditProfileViewModel

@{
    ViewBag.Title = "Edit Profile";
    var indexOfAt = User.Identity.Name.IndexOf("@");
    var currentUsername = User.Identity.Name.Substring(0, indexOfAt);
}

<br />
<br />
<div class="container-fluid custom-form">
    <h2 class="heading-centered">@ViewBag.Title</h2>
    <hr />

    @using (Html.BeginForm("Edit", "Users", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
        @Html.AntiForgeryToken()
        <div class="row">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <label class="control-label col-sm-offset-3 col-sm-2">@Html.DisplayNameFor(model => model.FirstName)</label>
                <div class="col-sm-3">
                    <input type="text" name="FirstName" value="@Model.FirstName" class="form-control" />

                    @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-offset-3 col-sm-2">@Html.DisplayNameFor(model => model.LastName)</label>
                <div class="col-sm-3">
                    <input type="text" name="LastName" value="@Model.LastName" class="form-control" />
                    @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-5 col-sm-6">
                    @Html.ActionLink("Back to profile page", "ProfilePage", new { username = currentUsername }, new { @class = "btn btn-default" })
                    <input type="submit" value="Edit" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }

</div>
