@if (Request.IsAuthenticated)
{

    var indexOfAt = User.Identity.Name.IndexOf("@");
    var currentUsername = User.Identity.Name.Substring(0, indexOfAt);

    using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hello " + User.Identity.Name + "!", "ProfilePage", "Users", new { area = "", username = currentUsername }, null)

            </li>
            @if (User.IsInRole("Admin") || User.IsInRole("Instructor"))
            {
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="true">Admin Panel<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        @if (User.IsInRole("Admin"))
                        {
                            <li>@Html.ActionLink("Users", "UsersList", "Admin", new { area = "Admin" }, null)</li>

                        }
                        <li>@Html.ActionLink("Courses", "CourseList", "Admin", new { area = "Admin" }, null)</li>
                        <li>@Html.ActionLink("Units", "UnitsList", "Admin", new { area = "Admin" }, null)</li>
                        <li>@Html.ActionLink("Quizzes", "QuizList", "Admin", new { area = "Admin" }, null)</li>
                        <li>@Html.ActionLink("Questions", "QuestionList", "Admin", new { area = "Admin" }, null)</li>

                    </ul>
                </li>
            }
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", new { area = "" }, new { id = "registerLink" })</li>
         <li>@Html.ActionLink("Log in", "Login", "Account", new { area = "" }, new { id = "loginLink" })</li>

    </ul>
}


