@using LearningCenter.Models.ViewModels.Course
@model DetailedCourseViewModel

<div class="row">
    <div class="col-sm-3">
        @Ajax.ActionLink("Description", "ShowDescription", new { description = Model.Description },
            new AjaxOptions()
            {
                UpdateTargetId = "resultContainer",
                InsertionMode = InsertionMode.Replace,
                LoadingElementDuration = 1500,
                LoadingElementId = "loadingElement"
            }, new { @class = "btn btn-block btn-info" })
        <br />
        @foreach (var item in Model.Units)
        {
            var index = item.Title.LastIndexOf("-");
            var displayTitle = item.Title.Substring(index+1);
            @Ajax.ActionLink(displayTitle, "ShowUnitContent", new { unitId = item.Id },
                new AjaxOptions()
                {
                    UpdateTargetId = "resultContainer",
                    InsertionMode = InsertionMode.Replace,
                    LoadingElementDuration = 1500,
                    LoadingElementId = "loadingElement"
                }, new { @class = "btn btn-block btn-primary" })
        }
        <br />
        @foreach (var item in Model.Quizzes)
        {
            @Ajax.ActionLink(item.Title, "ShowQuiz", new { quizId = item.Id },
                new AjaxOptions()
                {
                    HttpMethod = "GET",
                    UpdateTargetId = "resultContainer",
                    InsertionMode = InsertionMode.Replace,
                    LoadingElementDuration = 1500,
                    LoadingElementId = "loadingElement"
                }, new { @class = "btn btn-block btn-warning" })
        }
    </div>

    <div class="col-sm-9">
        <div id="loadingElement" hidden="hidden">
            <div class="progress progress-striped">
                <div class="progress-bar progress-bar-success" style="width: 100%"></div>
            </div>
        </div>
        <div class="jumbotron">

            <div id="resultContainer">
                @Html.Partial("_ShowDescription", Model.Description)
            </div>
        </div>

    </div>
</div>

@Html.ActionLink("Back to courses", "AllCourses", new { area = "Courses" }, new { @class = "btn btn-default" })